<h1>Welcome</h1>
Please login to manage your presentations.
<table>
	<thead>
		<tr>
			<th width="200">
				Presentation
			</th>
			<th>
				Discription	
			</th>
		</tr>
	</thead>
	<tbody>
		<% @presentations.each do |presentation| %>
		<tr>
			<td>
				<%= link_to presentation.name, presentation %>
			</td>
			<td>
				<%= presentation.discription %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>